<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon "
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".PaginaChat"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".PaginaUsuarios"
            android:exported="false" />
        <activity
            android:name=".PaginaJuegoIA"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Personalizar"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".clasePractica"
            android:exported="false" />
        <activity
            android:name=".PaginaBienvenida"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Activity código (sin intent-filter) -->
        <activity
            android:name=".PaginaCodigo"
            android:exported="false" />
        <activity
            android:name=".PaginaPrincipal"
            android:exported="false" />
        <activity
            android:name=".PaginaJuego"
            android:exported="false" />

        <activity
            android:name=".MyApp"
            android:exported="false" />
        <activity
            android:name=".Logica_Basica_Kotlin"
            android:exported="false" />
    </application>

</manifest>