<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS (SIEMPRE FUERA DE <application>) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon "
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".PaginaRecargar"
            android:exported="false" />
        <activity
            android:name=".PaginaDesafioGanado"
            android:exported="false" />
        <activity
            android:name=".PaginaChat"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PaginaUsuarios"
            android:exported="false" />
        <activity
            android:name=".PaginaJuegoIA"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Personalizar"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".clasePractica"
            android:exported="false" />
        <activity
            android:name=".PaginaBienvenida"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Activity código (sin intent-filter) -->
        <activity
            android:name=".PaginaCodigo"
            android:exported="false" />
        <activity
            android:name=".PaginaPrincipal"
            android:exported="false" />
        <activity
            android:name=".PaginaJuego"
            android:exported="false" />
        <activity
            android:name=".MyApp"
            android:exported="false" />
        <activity
            android:name=".Logica_Basica_Kotlin"
            android:exported="false" />

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1195123066634718~2478718430" />

        <!-- FCM Messaging -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>